﻿
@model List<Ejemplo1.Models.Producto>

@{
    ViewData["Title"] = "Lista Productos";
}



<h1>@ViewData["Title"]</h1>


<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Producto")'">Nuevo Producto</button>

<!--<a asp-action="Producto" asp-route-IdProducto="0" class="btn btn-primary btn-sm">Nuevo producto</a>-->



<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    
            <tr>
                <th scope="row">@item.IdProducto</th>
                <td>@item.Nombre</td>
                <td>@item.Descripcion</td>
                <td>@item.Cantidad</td>
                <td>
                    <a href="javascript:void(0);" class="btn btn-primary" onclick="viewProduct('@item.Nombre', '@item.Descripcion')">Ver <i class="fa-solid fa-eye"></i></a>
                    <a asp-action="Edit" asp-route-IdProducto="@item.IdProducto" class="btn btn-light">Editar <i class="fa-solid fa-pen-to-square"></i></a>
                    <a asp-action="Delete" asp-route-IdProducto="@item.IdProducto" class="btn btn-danger">Eliminar <i class="fa-solid fa-trash"></i></a>

                </td>
            </tr>
     
    }
    </tbody>
</table>


<p>Esta es la vista de la lista de productos</p>